.navbar.navbar-expand-lg.navbar-light.bg-body-tertiary {
    background-color: #f2f2f2 !important;
    text-align: center;
}
.navbar-brand {
    font-weight: 500;
    margin-left:5%;
    margin-right: auto; /* Oddziela logo od elementów navbar-nav */
}

.navbar-nav {
    display: flex;
    align-items: center; /* Centruje elementy navbar-nav */
}

.nav-link.active {
    color: #000; /* Or any color you prefer for active link */
}